{% set label_dict = h.composite_get_label_dict(field.subfields) %}
{% set name_list = h.composite_get_name_list(field.subfields) %}

{% set composite_dict_list = h.composite_repeating_get_value_dict_list(field.field_name, field.subfields, data, field.form_blanks) %}
{%- if composite_dict_list|length == 1 -%}
  {% set composite_dict = composite_dict_list[0] %}
  {% for key in composite_dict%}
       <b>{{ label_dict[key] }}: </b> {{ composite_dict[key] }},  
  {%endfor%}

{%- else -%}
  <ul>
    {%- for composite_dict in composite_dict_list -%}
       <li>
       {% for key in name_list %}
           <b>{{ label_dict[key] }}: </b> {{ composite_dict[key] }},  
       {%endfor%}
       </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

