{% import 'macros/form.html' as form %}
{% resource 'composite/composite-repeating.js' %}
{% resource 'composite/composite.css' %}

{%- snippet 'scheming/form_snippets/composite_header.html', field=field, inline=field.help_inline -%}

{% set field_dict_list=h.composite_repeating_get_value_dict_list(field.field_name, field.subfields, data, field.form_blanks if 'form_blanks' in field else 1 ) %}
<div data-module="composite-repeating" id="composite-repeating-div-{{ field.field_name }}">

{% for field_dict in field_dict_list %}
    {% set subfields_repeating_label = field.get("subfields_label", "") %}
    {% set index = loop.index %}
    <div class="composite-control-repeating"> 
    {% set subfield_index = 0 %}
    {% for subfield in field.subfields %}
      {% set subfield_form_snippet = subfield.get("form_snippet", "default") %}
      {% if subfield_form_snippet %}
        {% set subfield_index = loop.index %}
        {% set name=field.field_name + '-' + index|string + '-' + subfield.field_name %}
        {% set default_value = subfield.get("default_value", "") %}
        {% set value=field_dict.get(subfield.field_name, default_value) %}
  
        {% if subfield.help_text %}
          {% set composite_classes = "form-control composite-subfield-with-help" if subfield_index>1 else "medinput composite-subfield composite-first-subfield" %}
        {% else %}
          {% set composite_classes = "form-control composite-subfield" if subfield_index>1 else "medinput composite-subfield composite-first-subfield" %}
        {% endif %}

        {% if subfield.get('choices', false) %}
          {% if subfield.get('preset', '') == "multiple_checkbox"%}
              {%- snippet 'scheming/form_snippets/subfield_snippets/composite_multiple_checkbox.html', index=index, subfield=subfield, subfield_index=subfield_index, subfields_repeating_label=subfields_repeating_label, name=name, value=value, errors=errors -%}
          {% else %}
              {%- snippet 'scheming/form_snippets/subfield_snippets/composite_select.html', index=index, subfield=subfield, subfield_index=subfield_index, subfields_repeating_label=subfields_repeating_label, name=name, value=value, errors=errors -%}
          {% endif %}
        {% else %}
          {% set type = "text" %}
          {% set classes = ['control-full'] %}
          {% set input_extra_html = "" %}
          {% set extra_html="" %}
          {% set modal_text=subfield.modal_text if 'modal_text' in subfield else none %}
          {% set attrs=subfield.form_attrs if 'form_attrs' in subfield else {} %}
          {% set placeholder=subfield.form_placeholder if 'form_placeholder' in subfield else '' %}
          {% if subfield.get("preset", "") == "date" %}
            {% set value=field_dict.get(subfield.field_name, default_value).split()[0] %}
            {% set type = "date" %}
            {% set classes = []%}
          {% endif %}
         
          {%- call form.input_block(
            for='field-' + name,
            label=h.scheming_language_text(subfield.label) + subfields_repeating_label + ' ' + index|string,
            error=errors[name],
            classes=classses,
            control_classes=[],
            extra_html="",
            is_required=h.scheming_field_required(subfield)) -%}
              <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}"
                 value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}"
                 {{ form.attributes(attrs) }} class="{{ composite_classes }}" />
              {% if subfield_index>1 %}
                {%- snippet 'scheming/form_snippets/subfield_snippets/composite_help_text.html', field=subfield -%}
              {% endif %}
          {% endcall %}
        {% endif %}
      
        {% if subfield_index==1 %}
          {% if subfield.help_text %}
            {%- set markup_text = h.composite_get_markup(subfield.help_text) -%}
              <div class="info-block composite-subfield-info-first">
                  <i class="fa fa-info-circle"></i>
                  {{ markup_text|safe }}
              </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <!-- <br> -->
    </div>
{% endfor %}
</div>
<hr>


